body {
  font-family: Arial;
  background: #0f0f1a;
  color: white;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.box, #chat {
  display: none;
  margin-top: 20px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #444;
  margin: 10px;
  padding: 10px;
}
