body {
  margin: 0;
  height: 100vh;
  background: #ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

/* LOGIN & CODE SCREENS */
#login, #codeScreen, #joinScreen {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #25d366;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#roomCode {
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0;
  color: #075e54;
}

/* CHAT */
#chat {
  width: 360px;
  height: 600px;
  background: #efeae2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#chatHeader {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  max-width: 70%;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
}

#typingStatus {
  font-size: 12px;
  padding-left: 10px;
  color: #555;
  height: 18px;
}

/* EMOJI BAR */
#emojiBar {
  padding: 5px 10px;
  background: #f0f0f0;
}

#emojiBar span {
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

/* INPUT */
#inputArea {
  display: flex;
  padding: 10px;
}

#inputArea input {
  flex: 1;
  padding: 8px;
}
